/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f7fb;
    color: #1f2937;
}

/* IMAGENS SEGURAS */
img {
    max-width: 100%;
    height: auto;
}

/* MENU */
header {
    background: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.Logo {
    height: 40px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #374151;
}

nav a:hover {
    color: #0f766e;
}

/* CONTEÚDO */
main {
    max-width: 800px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    color: #0f766e;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

/* IMC */
.imc-box input,
.imc-box button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}
.bannerIndex{
    height: 16rem;
    overflow: hidden;
}

.bannerIndex img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.imc-box {
    margin-top: 20px;
    padding: 20px;
    background: #ecfeff;
    border-radius: 10px;
}

.imc-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.imc-box button {
    width: 100%;
    padding: 12px;
    background: #0f766e;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.imc-box button:hover {
    background: #115e59;
}

#resultado {
    margin-top: 15px;
    font-weight: bold;
}

@media screen and (max-width: 950px){

     .bannerIndex{
    height: 35rem;
}

}
